# Data Cleaning

In [2]:
import pandas as pd

In [3]:
order_details = pd.read_table(filepath_or_buffer= "data.tsv.txt")

In [4]:
print(order_details)

      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price
0                                                   NaN     $2.39
1                                          [Clementine]     $3.39
2                                               [Apple]     $3.39
3                                                   NaN     $2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
...                                                 ...        ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75

[4622 rows x 5 columns]

In [5]:
order_details.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

### Converting item_price from object (series) to float

In [11]:
# Use str.replace instead of replace because str.replace is used for substring and replace is used for entire string

In [8]:
order_details['item_price'] = order_details['item_price'].str.replace('$',"").astype(float)

In [9]:
print(order_details)

      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description  item_price
0                                                   NaN        2.39
1                                          [Clementine]        3.39
2                                               [Apple]        3.39
3                                                   NaN        2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...       16.98
...                                                 ...         ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...       11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...       11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...       11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...        8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...        8.75

[4622 rows x 5 columns]

In [10]:
order_details.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object