# Chapter 4 - Advanced Data Analysis

### Task 1

#### Data Cleaning

In [1]:
import pandas as pd

In [3]:
sales_data_2017 = pd.read_csv("Sales-Transactions-2017.csv")
sales_data_2018 = pd.read_csv("Sales-Transactions-2018.csv")
sales_data_2019 = pd.read_csv("Sales-Transactions-2019.csv")
sales_grouped_data = pd.concat(objs = [sales_data_2017, sales_data_2018, sales_data_2019])
sales_grouped_data

,Date,Voucher,Party,Product,Qty,Rate,Gross,Disc,Voucher Amount
0,1/4/2017,Sal:1,SOLANKI PLASTICS,DONA-VAI-9100,2,"1,690.00","3,380.00",NaN,"13,100.00"
1,1/4/2017,Sal:1,SOLANKI PLASTICS,LITE FOAM(1200),6,"1,620.00","9,720.00",NaN,NaN
2,1/4/2017,Sal:2,SARNESWARA TRADERS,VISHNU CHOTA WINE,500,23,"11,500.00",NaN,"30,990.00"
3,1/4/2017,Sal:2,SARNESWARA TRADERS,LITE FOAM(1200),6,"1,620.00","9,720.00",NaN,NaN
4,1/4/2017,Sal:2,SARNESWARA TRADERS,DONA-VAI-9100,5,"1,690.00","8,450.00",NaN,NaN
...,...,...,...,...,...,...,...,...,...
19171,10/10/2019,Sal:4935,K.SRIHARI,13*16 WHITE RK,400,16,"6,400.00",NaN,NaN
19172,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19174,NaN,Total,NaN,NaN,"99,284.90","175,381.65","2,203,649.50","20,680.00","2,189,014.50"
19175,NaN,Total,NaN,NaN,"2,710,193.00","5,519,888.40","53,360,791.40","672,984.00","52,830,224.40"

#### Answer Key

In [4]:
sales_final = pd.read_csv("Sales-Transactions-Edited.csv")
sales_final

,Date,Voucher,Party,Product,Qty,Rate
0,1/4/2017,1,SOLANKI PLASTICS,DONA-VAI-9100,2,1690.0
1,1/4/2017,1,SOLANKI PLASTICS,LITE FOAM(1200),6,1620.0
2,1/4/2017,2,SARNESWARA TRADERS,VISHNU CHOTA WINE,500,23.0
3,1/4/2017,2,SARNESWARA TRADERS,LITE FOAM(1200),6,1620.0
4,1/4/2017,2,SARNESWARA TRADERS,DONA-VAI-9100,5,1690.0
...,...,...,...,...,...,...
95557,12/9/2019,4265,TP13,SPOON MED M.W,20,11.0
95558,12/9/2019,4266,K.SRIHARI,SMART BOUL(48),1,1830.0
95559,12/9/2019,4267,SMS,SMARTBOUL GLA(4000),1,1520.0
95560,12/9/2019,4268,ANILFANCY,RR WINEGLASS,100,20.0
95561,12/9/2019,4268,ANILFANCY,RR WATER GLASS,100,20.0

### Data Cleaning

In [5]:
sales_grouped_data.dtypes

Date              object
Voucher           object
Party             object
Product           object
Qty               object
Rate              object
Gross             object
Disc              object
Voucher Amount    object
dtype: object

In [7]:
sales_final.dtypes

Date        object
Voucher      int64
Party       object
Product     object
Qty          int64
Rate       float64
dtype: object

## Task 2

### Merge function

In [1]:
import pandas as pd

In [10]:
data1 = pd.DataFrame({'Key': ['A', 'B', 'C'], 'Value1': [1, 2, 3]})
data2 = pd.DataFrame({'Key': ['B', 'C', 'D'], 'Value2': [4, 5, 6]})

In [8]:
merged_data = pd.merge(data1, data2, on='Key', how='inner')
print(merged_data)

  Key  Value1  Value2
0   B       2       4
1   C       3       5

In [11]:
merged_data = pd.merge(data1, data2, on='Key', how='outer')
print(merged_data)

  Key  Value1  Value2
0   A     1.0     NaN
1   B     2.0     4.0
2   C     3.0     5.0
3   D     NaN     6.0

In [12]:
merged_data = pd.merge(data1, data2, on='Key', how='left')
print(merged_data)

  Key  Value1  Value2
0   A       1     NaN
1   B       2     4.0
2   C       3     5.0

In [13]:
merged_data = pd.merge(data1, data2, on='Key', how='right')
print(merged_data)

  Key  Value1  Value2
0   B     2.0       4
1   C     3.0       5
2   D     NaN       6

## Task 3

### List Comprehension

### Syntax : new_list = [expression for item in iterable if condition]

#### Example 1

In [8]:
even_number = [x for x in range (20) if x % 2 == 0]
even_number

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

#### Example 2

In [5]:
coordinates = [(x,y) for x in range (3) for y in range (3)]

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)]

#### Example 3

In [9]:
data = ["even" if x % 2 == 0 else "odd" for x in range (20)]
data

['even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd']

#### Example 4

In [12]:
data = [20,12,14,5,25]
category = ["high" if x > 20 else "medium" if x > 10 else "low" for x in data]
category

['medium', 'medium', 'medium', 'low', 'high']

## Task 4

### Lambda Function

#### Map function

##### Example 1

In [4]:
list1 = ["apple","orange","watermelon"]
upper_list1 = list(map(lambda x: x.upper(),list1)) 
upper_list1

['APPLE', 'ORANGE', 'WATERMELON']

##### Example 2

In [6]:
list2 = [1, 6, 8, 3]
list3 = [5, 2, 9, 4]
add_list = list(map(lambda x,y: x + y , list2,list3))
add_list

[6, 8, 17, 7]

### Filter Function

#### Example 1

In [9]:
list1 = ["apple","orange","watermelon"]
count_list1 = list(filter(lambda x :  len (x) < 7 , list1))
count_list1

['apple', 'orange']

#### Example 2

In [10]:
list2 = [42,23,5,12,53,76,93]
even_list = list(filter(lambda x : x % 2 == 0 , list2))
even_list

[42, 12, 76]

### Reduce Function

#### Example 1

In [11]:
from functools import reduce

In [12]:
list2 = [42,23,5,12,53,76,93]
sum_list = reduce(lambda x,y : x + y , list2)
sum_list

304

#### Example 2

In [15]:
list2 = [42,23,5,12,53,76,93]
greater_list = reduce(lambda x,y :x if x > y else y ,list2)
greater_list

93