# Data Analysis

## Data Frames
 
### Dictionary 

#### Use Dictionaries to create Data Frames with rows and columns
#### Data Frames - Uses 2D data to show them in Tabular Format

In [15]:
import pandas as pd 

# Example 1
data1 = {"Avengers":["Thor","Captain America","Hulk","Iron Man"],"Power":[90,85,95,80]}

print(pd.DataFrame(data=data1))

          Avengers  Power
0             Thor     90
1  Captain America     85
2             Hulk     95
3         Iron Man     80

In [12]:
# Example 2
data2 = {"Country":("India","USA","Russia","UK","Germany","France"),"Capital":("New Delhi","Washington DC","Moscow","London","Berlin","Paris")}

print(pd.DataFrame(data=data2))

   Country        Capital
0    India      New Delhi
1      USA  Washington DC
2   Russia         Moscow
3       UK         London
4  Germany         Berlin
5   France          Paris

In [13]:
# Example 3 

data3 = {"Players":("Messi","Ronaldo","Neymar","Mbappe","Haaland","Kane"),"Clubs":["Inter Miami","Al Nassr","Santos","Real Madrid","Man City","Bayern"],"Country":("Argentina","Portugal","Brazil","France","Norway","England")}

print(pd.DataFrame(data=data3))

   Players        Clubs    Country
0    Messi  Inter Miami  Argentina
1  Ronaldo     Al Nassr   Portugal
2   Neymar       Santos     Brazil
3   Mbappe  Real Madrid     France
4  Haaland     Man City     Norway
5     Kane       Bayern    England