# Chapter 4 - Task 1

## Scripting Based Questions

###  Task - 1 : Greeting Message

#### Description - Write a program to take a name and age from the user and print a Greeting Message

In [2]:
name = input("Enter your Name: ")
age = int(input("Enter your age: "))
print(f"Hi {name}, congratulations on being healthy at the age of {age}!!!")

Enter your Name:  Dhoni
Enter your age:  42

Hi Dhoni, congratulations on being healthy at the age of 42!!!

### Task - 2 : Even Numbers

#### Create a list of numbers and print only even numbers using for loop

In [3]:
list1 = [int(x) for x in input("Enter numbers with space ").split()]

print (f"The list of numbers are : {list1}")
print("The even numbers present in the list are :",end = " ")
for val in list1:
    if val % 2 == 0 :
        print(val,end = " ")

Enter numbers with space  12 42 82 -23 46 92 9

The list of numbers are : [12, 42, 82, -23, 46, 92, 9]
The even numbers present in the list are : 12 42 82 46 92

### Task 3 - Division by Zero

#### A program which handles Division by zero using try-except

In [4]:
print("Program to Divide two numbers")
num1 = int(input("Enter the first Number : "))
num2 = int(input("Enter the second Number : "))
try :
    print(num1/num2)
except ZeroDivisionError:       # Exception catch
    print("Error, Cannot divide by Zero")

Program to Divide two numbers

Enter the first Number :  45
Enter the second Number :  0

Error, Cannot divide by Zero

### Task 4 - Vowels in a String

#### Given a String , count the number of vowels present

In [6]:
word = input("Enter a word: ")
counta = 0
print("The vowels are :",end=" ")
for i in word: 
    if i in 'aeiouAEIOU':
        counta = counta + 1
        print(i,end= " ")
print(f"\nThe total vowels are {counta}")

Enter a word:  Wonderful

The vowels are : o e u
 The total vowels are 3

### Task 5 - Reverse List without builtin functions

#### Reverse a list without using the builtin functions

In [8]:
list1 = [int(x) for x in input("Enter numbers with space ").split()]
letter = []
word = 0
while len(list1) > 0 :
    word = list1.pop()
    letter.append(word)
print(letter)

Enter numbers with space  23 14 32 53 81 4

[4, 81, 53, 32, 14, 23]

### Task 6 - Dictionary (5 key value pair)

#### Create a Dictionary with atleast 5 Key Value Pair

In [12]:
dict = {"Leagues":["Premier League","Laliga","Serie A","Bundesliga","Ligue1"],"Teams":["Arsenal","Barcelona","Napoli","Bayern","Monaco"],"League Standings":[1,2,5,1,7], "Top Scorer" : ["Gyokeres","Yamal","McTominay","Kane","Silva"],"Trophies":[48,64,29,58,15]}
print(dict)
dict

{'Leagues': ['Premier League', 'Laliga', 'Serie A', 'Bundesliga', 'Ligue1'], 'Teams': ['Arsenal', 'Barcelona', 'Napoli', 'Bayern', 'Monaco'], 'League Standings': [1, 2, 5, 1, 7], 'Top Scorer': ['Gyokeres', 'Yamal', 'McTominay', 'Kane', 'Silva'], 'Trophies': [48, 64, 29, 58, 15]}

{'Leagues': ['Premier League', 'Laliga', 'Serie A', 'Bundesliga', 'Ligue1'],
 'Teams': ['Arsenal', 'Barcelona', 'Napoli', 'Bayern', 'Monaco'],
 'League Standings': [1, 2, 5, 1, 7],
 'Top Scorer': ['Gyokeres', 'Yamal', 'McTominay', 'Kane', 'Silva'],
 'Trophies': [48, 64, 29, 58, 15]}

### Task 7 - Read CSV and Top 5 Rows

#### Use Pandas to read a CSV file and then print the top 5 Rows

In [13]:
import pandas as pd 

word = pd.read_csv("Euro_2012_stats_TEAM.csv")

print(word.head())

             Team  Goals  Shots on target  Shots off target Shooting Accuracy  \
0         Croatia      4               13                12             51.9%
1  Czech Republic      4               13                18             41.9%
2         Denmark      4               10                10             50.0%
3         England      5               11                18             50.0%
4          France      3               22                24             37.9%

  % Goals-to-shots  Total shots (inc. Blocked)  Hit Woodwork  Penalty goals  \
0            16.0%                          32             0              0
1            12.9%                          39             0              0
2            20.0%                          27             1              0
3            17.2%                          40             0              0
4             6.5%                          65             1              0

   Penalties not scored  ...  Saves made  Saves-to-shots ratio  Fouls Won  \
0                     0  ...          13                 81.3%         41
1                     0  ...           9                 60.1%         53
2                     0  ...          10                 66.7%         25
3                     0  ...          22                 88.1%         43
4                     0  ...           6                 54.6%         36

  Fouls Conceded  Offsides  Yellow Cards  Red Cards  Subs on  Subs off  \
0             62         2             9          0        9         9
1             73         8             7          0       11        11
2             38         8             4          0        7         7
3             45         6             5          0       11        11
4             51         5             6          0       11        11

   Players Used
0            16
1            19
2            15
3            16
4            19

[5 rows x 35 columns]

### Task 8 - Create Dataframe from Dictionary

#### Create a dataframe from Python Dictionary

In [14]:
import pandas as pd

dict = {"Leagues":["Premier League","Laliga","Serie A","Bundesliga","Ligue1"],"Teams":["Arsenal","Barcelona","Napoli","Bayern","Monaco"],"League Standings":[1,2,5,1,7], "Top Scorer" : ["Gyokeres","Yamal","McTominay","Kane","Silva"],"Trophies":[48,64,29,58,15]}

print(pd.DataFrame(dict))

          Leagues      Teams  League Standings Top Scorer  Trophies
0  Premier League    Arsenal                 1   Gyokeres        48
1          Laliga  Barcelona                 2      Yamal        64
2         Serie A     Napoli                 5  McTominay        29
3      Bundesliga     Bayern                 1       Kane        58
4          Ligue1     Monaco                 7      Silva        15

### Task 9 - Replace Missing Values in DataFrame

#### Replace all the missing values in Dataframe with column's mean

In [15]:
import pandas as pd 

file = pd.read_csv("employee_data.csv")

# Before Change
print(file)

file = file.fillna(file.mean(numeric_only=True))        # Fill only numeric values since mean is only posible for numeric

# After Change
print(file)

      Name   Age Department   Salary   Join_Date
0   Rajesh  29.0        Ops  60000.0  21-05-2023
1    Nasir  31.0    IT Tech      NaN  12-11-2020
2  Mathiew   NaN    Support  58000.0  15-01-2025
3  Gilbert  29.0        Ops  60000.0  21-05-2021
4    Kevin  28.0    Support  61000.0  30-07-2024
5    Navin  35.0    Support  72000.0  19-08-2023
6      NaN  40.0         IT  64000.0  10-09-2022
7    Nasir  31.0    IT Tech      NaN  12-11-2020
      Name        Age Department   Salary   Join_Date
0   Rajesh  29.000000        Ops  60000.0  21-05-2023
1    Nasir  31.000000    IT Tech  62500.0  12-11-2020
2  Mathiew  31.857143    Support  58000.0  15-01-2025
3  Gilbert  29.000000        Ops  60000.0  21-05-2021
4    Kevin  28.000000    Support  61000.0  30-07-2024
5    Navin  35.000000    Support  72000.0  19-08-2023
6      NaN  40.000000         IT  64000.0  10-09-2022
7    Nasir  31.000000    IT Tech  62500.0  12-11-2020

### Task 10 - Filter Rows in DataFrame

#### Filter Rows in Dataframe where "Age" is greater than 30

In [16]:
import pandas as pd 

file = pd.read_csv("employee_data.csv")

filt = file[file["Age"] > 30]  # Filter Rows where Age is greater than 30 

print(filt)

    Name   Age Department   Salary   Join_Date
1  Nasir  31.0    IT Tech      NaN  12-11-2020
5  Navin  35.0    Support  72000.0  19-08-2023
6    NaN  40.0         IT  64000.0  10-09-2022
7  Nasir  31.0    IT Tech      NaN  12-11-2020